* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit, sans-serif;
}

/* Header and Footer background color */
header,
footer {
  background-color: #1F2937;
}

/* Company name font color */
.company-name {
  color: #F9FAF8;
}

.header-intro h1 {
  font-size: 48px;
  color: #F9FAF8;
}

/* header secondary text and nav links font color and size*/
.header-secondary-text,
nav a{
  font-size: 18px;
  color: #E5E7EB;
}

/* remove text decoration form links */
a {
  text-decoration: none;
}